

<h2>Tornado's Independent</h2>

{% if login == 0 %}
<form method="post" autocomplete="off">
	<P align = "right"><input type = "submit" name = "signup" value = "Sign up"/>
	<p>Put in Torn Name<p>  
	<p><input type = "text" name = "nm2"/></p>
	<p>Put in Password</p>
	<p><input type = "password" name = "pass"/></p>

	<p><input type = "submit" value = "submit"/></p>	
<form>
{% endif %}

{% if off == 1 %}
	<p>Username or password is incorrect.</p>	
{% endif %}

{% if login == 1 %}
<form method="post" autocomplete="off">
<p>Already logged in.<p>
<p><input type = "submit" value = "Signout"/></p>
<form>
{% endif %}




